apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-a
  labels:
    app: service-a
spec:
  replicas: 2
  selector:
    matchLabels:
      app: service-a
  template:
    metadata:
      labels:
        app: service-a
    spec:
      containers:
      - name: service-a
        image: swr.tr-west-1.myhuaweicloud.com/trc-sdlc-prod/service-a:master-295a2ab
        ports:
        - containerPort: 8080